
<!-- This page contains important information for support -->
<div class="container">
<h1 class="help_header">Help</h1>
<div class="help_body">
    <h2 class="help_subheader">Documentation</h2>
    <ul>
    <!-- links to pdfs which can help with support -->
        <li><a href="https://drive.google.com/file/d/12PBYYZKHLUCSd1J6trRUBm0Sqvy4ksXD/view?usp=share_link" target="_blank">System Navigation</a></li>
        <% if executive_officer? || current_admin.email == 'adao102@tamu.edu' || current_admin.email == 'timo.short@tamu.edu' || current_admin.email == 'vpranav@tamu.edu' || current_admin.email == 'bannerdavid@tamu.edu' || current_admin.email == 'zhanlan@tamu.edu' %>
                <li><a href="https://docs.google.com/document/d/1zBX1ALHbnJ4IRnwPaxZTN4R--_jC0gXAz96qQjDjbSw/edit?usp=share_link" target="_blank">Maintenance</a></li>
        <% end %>
    </ul>
    <h2 class="help_subheader">Support</h2>
    <div><b>Developer Contact Information:</b></div>
    <div>   Anthony Dao: adao102@tamu.edu</div>
    <div>   David Vilentchouk: bannerdavid@tamu.edu</div>
    <div>   Pranav Vankamamidi: vpranav@tamu.edu</div>
    <div>   George Lan: zhanlan@tamu.edu</div>
    <h2 class="help_subheader">Common Issues</h2>
    <li>
    <b>Unable to Create Account</b>
    <div>Make sure you fill out all provided fields to create your account. If you make any mistakes once the account has been 
    created simply edit your profile and make the correction to the appropriate field.</div>
    </li>
    <li>
    <b>We're sorry, but something went wrong.</b>
    <div>First make sure that you have created your account before you interact with and access other pages.
    If you have already created an account already please make sure you have only used your @tamu.edu email and not any other email
    or personal gmail. You can easily update your email by editing your profile.</div>
    </li>
    <li>
    <b>Reset User Points</b>
    <div>To reset a specific user's points please only input the specific user's UIN, no other type of input will work.</div>
    </li>
</div>
</div>
