<!-- This is the root page that prompts users to sign in with google OAuth -->
<div class='container'>
<h1>You're Logged out!</h1>
<h2>Log in to the ASCE TAMU Dashboard</h2>
<div class="sign-in mt-4"><%= button_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path %></div>
</div>