<div id="<%= dom_id user_event %>">
  <p>
    <strong>User:</strong>
    <%= user_event.user_id %>
  </p>

  <p>
    <strong>Event Name:</strong>
    <%= user_event.event.name %>
  </p>

  <p>
    <strong>Event Description:</strong>
    <%= user_event.event.description %>
  </p>

</div>
