<h1>New User Event Sign Up</h1>

<%= render "form", user_event: @user_event %>

<br>

<!-- The first link takes you back to the list of all events a user signed up for -->
<!-- This second link takes you back to the list of all events so you can sign up for more -->
<div> 
  <%= link_to "Back to events", events_path %>
</div>
