<h1>You're logged in! Welcome to the ASCE TAMU Dashboard!</h1>
<h3>New User?</h3>
<%= link_to "Create Account", new_user_path %>
<br>
<h3>Already have an Account?</h3>
<%= link_to "Go to my profile", users_path %>
<br>
<br>
<%= link_to "Sign Out", destroy_admin_session_path %>